<div class="jumbotron text-center">
  <h1 class="display-3">Oops!</h1>
  <p class="lead">
    <img src="https://png.pngtree.com/svg/20170918/fail_641034.png" width="300" />
  </p>
  <p class="lead">Looks like the document you are trying to sign has already expired.</p>
  <hr>
  <p>
  </p>
  <p class="lead">
  </p>
</div>