<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= "##{total_documents - index} #{document.createdAt.strftime("%b, %d, %H:%M:%S")}"%></h5>
    <% document.parties.each do |party| %>
      <%= render '/documents/party_signature_status', :party => party %>
    <% end %>
    <%= link_to "Download Signed Document", document_signature_path(document.parties[0]["signature_request_id"]), target: "_blank" unless !document.complete %>
  </div>
</div>
