// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: 'Nunito Sans';
}

.centering-request {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0.5px solid gray;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
}

.mid-way {
  padding: 30px;
}

.thanks {
  padding: 100px;
}

input,
label {
  width: 100%;
}

.red {
  color: #cc0000;
}

.green {
  color: #00cc00;
}

.card {
  border: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  margin: 10px 0;
  padding: 0.5em;
}

.signers-label {
  font-weight: 500;
  font-size: 0.8em;
}

.list-group-item {
  border: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  margin: 10px 0;
}
.list-group-item-active {
  background-color: #f8f9fa;
}
.deal-message {
  color: lighten(#000000, 0.5);
  font-size: 0.8em;
}
.signers {
  color: brighten(#000000, 0.5);
  text-transform: capitalize;
  margin-right: 5px;
}
.card-subtitle {
  color: lighten(#000000, 0.5);
}

p {
  margin-bottom: 0;
}
.nav-tabs .nav-link.active {
  border-width: 0 0 3px 0;
  border-color: #495057;
}

.nav-tabs .nav-link, .nav-tabs .nav-link:hover {
  border-width: 0 0 3px 0;
}

.nav-tabs a.nav-link {
  color: lighten( #495057, 0.1);
}
.form-group {
  margin: 1em;
}
.btn {
  width: 100%;
}

.jumbotron {
  background: #fff;
}

.lead {
  margin-top: 30px;
}